<div id="navigation" {% unless site.headroom == false %}class="headroom"{% endunless %}>
  <div class="navcontrols">
    <a id="menu">Menu</a>
    <a id="close">Close</a>
  </div>
  <div class="navbar unstyle">
    <nav>
      <ul>
        <!--<li><a href="javascript:history.back()">Go Back</a></li>-->
        <li><a href="javascript:document.location.href='/';">Home</a></li>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for node in sorted_pages %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li><a id="{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <li><a href="{{ site.bitbucket.repo }}"><img style="display: inline-block;vertical-align: middle;"src="/assets/bitbucket.png" height="20" width="20"></a></li>
        <li><a href="{{ site.github.repo }}"><img style="display: inline-block;vertical-align: middle;"src="/assets/GitHub-Mark-32px.png"height="20" width="20" ></a></li>
        <li><a href="{{ site.jira.url }}"><img style="display: inline-block;vertical-align: middle;"src="/assets/jira.png" height="20" width="20"></a></li>
      </ul>
    </nav>
  </div>
</div>
